@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background: #08090B;
  color: #E3E5EB;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

h1, h2 {
  font-family: "Inconsolata", monospace;
}