@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  overflow-x: hidden;
  padding: 0 12px;
  background: #08090B;
  color: #E3E5EB;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

h1, h2 {
  font-family: "Inconsolata", monospace;
}

@media screen and (max-width: 380px) {
  body{
    padding: 0;
  }
}

.marquee { --marquee-speed: 40s; overflow:hidden; }
.marquee-track { display:flex; align-items:center; width:max-content; }
.marquee-group { display:flex; gap:2.5rem; } /* seus itens */
@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* -50% do próprio track (duplicado) */
}
.marquee-track { animation: marquee var(--marquee-speed) linear infinite; }
.marquee-track:hover { animation-play-state: paused;} /* pausa ao passar mouse */